.login-page, .signup-page {
    background-color: $color-3;
    min-height: 100vh;
}

.no-signup, .no-login {
    margin-top: 1.2em;
}

.signup, .login-form {
    width: 80%;
    margin: auto;
    @media (min-width: 992px) {
        width: 70%;
        margin: auto;
    }
}