.navigation {
  width: 100%;
  a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    position: relative;
  }
  .nav-active {
    &::after {
      content: "";
      width: 85%;
      height: 5px;
      background: $color-2;
      position: absolute;
      bottom: 1px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .nav-link{
    @media (min-width: 992px) {
      display: flex;
      justify-content: right;
    }
  }
  .logo {
    width: 90%;
    margin: auto;
  }
  .deconnect {
    color: white;
  }
  i {
    color: $danger;
    font-size: 20px;
  }
}