$color-1: #091F43;
$color-2: #D1515A;
$color-3: #AEAEAE;
$background: #656565;

@font-face {
    font-family: rubik;
    src:
    url("./fonts/Rubik-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: rubik;
}

a {
    text-decoration: none;
};

label {
    margin-left: .5em;
    font-weight: bold;
}

h1{
    color: $color-1;
    text-decoration: $color-2 underline;
}   

.logo-auth{
    background-color: $color-3;
}

.loginForm, .signupForm {
    background-color: $color-3;
  }